@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamLight.eot') format('embedded-opentype'),
    url('../fonts/GothamLight.woff2') format('woff2'),
    url('../fonts/GothamLight.woff') format('woff'),
    url('../fonts/GothamLight.ttf') format('truetype'),
    url('../fonts/GothamLight.svg#GothamLight') format('svg');
  font-weight: 200;
  font-style: normal;
}